@model TrilhaApiDesafio.Models.Tarefa

@{
    ViewData["Title"] = "Deletar Tarefa";
}

<h1 style="color:red;">Deseja realmente deletar esse contato? Essa operação é irreversível</h1>

<hr /> 

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Titulo)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Titulo)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Descricao)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Descricao)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Data)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Data)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Status)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Status)
        </dt>
    </dl>
</div>

<form asp-action="Deletar">
    <input type="submit" value="Confirmar" class="btn btn-danger" />
</form>

<br />
<a asp-action="Index">Cancelar</a> 